footer {
    display: none;
}
img:not(.donteffect img) {
    background-color: #fff;
    height: 202px;
    width: 202px;
    margin: 2px;
    object-fit: cover;
}
#home---media---contact {
    text-align: center;
}
html {
    background-color: F8F4F1;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
h1 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 500;
  font-style: normal;
}
