footer {
    display: none;
}
img:not(.fancybox-image) {
    background-color: #fff;
    height: 202px;
    width: 202px;
    margin: 2px;
    object-fit: cover;
}
#home---media---contact {
    text-align: center;
}
html {
    background-color: F8F4F1 !important;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
h1, h2, h3 {
  font-family: "Cormorant Garamond", serif !important; 
  font-weight: 700 !important;
  font-style: normal !important;
}
#imageGallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    gap: 10px;
    padding: 10px;
    bottom-margin: 10px;
}
#imageGallery > * {
  width: 100% !important; /* Occupy the full width of its container */
  height: auto !important; /* Allow the height to adjust based on the width */
  max-width: 100% !important; /* Ensure the image doesn't exceed its container's width */
  object-fit: contain !important; /* Ensure the entire image is visible within the container */
  aspect-ratio: 1 / 1 !important; /* Ensure the image maintains a 1:1 aspect ratio */
  margin-bottom: 10px !important;
}
